th {
  position: sticky;
  top: -2px;
  z-index: 5;
  height: 70px;
}
td:nth-child(1) {
  position: sticky;
  left: -1px;
  z-index: 5;
}
th:nth-child(1) {
  position: sticky;
  left: -1px;
  z-index: 7;
}
td:nth-child(2) {
  position: sticky;
  left: 32px;
  z-index: 5;
}
th:nth-child(2) {
  position: sticky;
  left: 32px;
  z-index: 7;
}
td:nth-child(11) {
  position: sticky;
  right: 73px;
  z-index: 5;
}
th:nth-child(11) {
  position: sticky;
  right: 73px;
  z-index: 7;
}
td:nth-child(12) {
  position: sticky;
  right: 0px;
  z-index: 5;
}
th:nth-child(12) {
  position: sticky;
  right: 0px;
  z-index: 7;
}


